@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&family=Palanquin+Dark:wght@400;600&display=swap');

:root {
    --grey: #EFEFEF;
    --blue: #516CB5;
}

p {
    color: black;
    font-family: "Palanquin Dark";
    font-weight: 400;
    line-height: 180%;
    font-size: 19px;
}

h1 {
    color: white;
    font-family: "Outfit";
    font-weight: 600;
    font-size: 110px;
    line-height: 95%;
}

h2 {
    color: white;
    font-family: "Outfit";
    font-weight: 600;
    font-size: 50px;
    line-height: 95%;
}

h3 {
    color: white;
    font-family: "Outfit";
    font-weight: 400;
    font-size: 35px;
    line-height: 95%;
}

.default-text-shadow {
    text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

/* Link */

.link,
.nav-link {
    color: white;
    font-family: "Palanquin Dark";
    font-weight: 400;
    text-decoration: none;

    transition: .1s;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

header .nav-link {
    font-size: 20px;
    padding: 0px 15px;
}

footer .link {
    font-size: 17px;
    padding: 0px 15px;
}


.link:hover,
.nav-link:hover {
    color: white;
    text-decoration-line: underline;
}

/* Buttons */

.btn-primary {
    /* display: flex;
    justify-content: center;
    align-items: center; */

    color: black;
    font-family: "Palanquin Dark";
    font-weight: 600;
    text-decoration: none;

    padding: 2px 10px;
    background: white;
    border-radius: 10px;
    font-size: 23px;
}

header .btn-primary {
    font-size: 20px;
}

.btn-primary:hover {
    color: var(--blue);
    background: white;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.28);
    text-decoration: none;

    transition: .1s;
}

/* Header */

header {
    font-family: "Palanquin Dark";
    background: var(--blue);
    padding: 15px 0px
}

header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Footer */

footer {
    font-family: "Palanquin Dark";
    background: var(--blue);
    padding: 15px 0px
}

footer .company {
    display: flex;
    flex-direction: column;
}

footer .company .logo {
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

footer .socials {
    padding: 8px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .socials .social-icon {
    transition: .2s;
}

footer .socials .social-icon:hover {
    transform: scale(1.1);
}

.jumbotron-index {
    display: flex;
    align-items: center;
    background: url(https://images.unsplash.com/photo-1523289333742-be1143f6b766) no-repeat center center;
    background-size: cover;
    padding: 180px;
}

.jumbotron-support {
    display: flex;
    align-items: center;
    background: url(https://images.unsplash.com/photo-1600132806608-231446b2e7af) no-repeat center center;
    background-size: cover;
    padding: 180px;
}

.jumbotron-download {
    display: flex;
    align-items: center;
    background: url(https://images.unsplash.com/photo-1617777938240-9a1d8e51a47d) no-repeat center center;
    background-size: cover;
    padding: 180px;
}


#background-white {
    background-color: white;
}

#background-grey {
    background-color: var(--grey);
}

.why-classflow img {
    padding: 75px 0;
}

.download-device-grid {
    display: grid;
    grid-template-areas:
        "ios android"
        "web web";
    gap: 50px;
    padding: 75px 0;
}

.download-device {
    display: flex;
    justify-content: center;

    background-color: var(--grey);
    border-radius: 40px;
    padding: 30px 30px 0px 30px
}

.download-device.ios {
    grid-area: ios;
}

.download-device.android {
    grid-area: android;
}

.download-device.web {
    grid-area: web;
}

@media (max-width: 767px){
.jumbotron-index {
    padding: 20px;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

.why-classflow img {
    padding: 12px 0;
}

}